[submodule "earth"]
	path = earth
	url = git@github.com:climate-v/earth.git
[submodule "head-scratcher"]
	path = head-scratcher
	url = git@github.com:climate-v/head-scratcher.git
[submodule "visualize"]
	path = visualize
	url = git@github.com:climate-v/visualize.git
